{{#each articles}}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="{{this.link}}">{{this.title}}</a>
                <input class="titleInput" value="{{this.title}}">
                <input class="linkInput" value="{{this.link}}">
                <button type="button" class="btn btn-default saveArticleButton">Save Article</button>
            </div>
        </div>
    </div>
{{/each}}

<div class="modal fade" id="scrapedArticleModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Scrape
                    <span>{{articles.length}}</span> Articles&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>




    



