{{#each saved}}
<div class="storyBody" id={{this._id}}>
    <h2>
        <a href="{{this.link}}" target="_blank">{{this.title}}</a>
        <form action="/saved/{{this._id}}" method="POST">
            <button type="submit" class="status" value="{{this.status}}">{{this.status}}</button>
            <button type="button" class="addNoteButton" value="{{this._id}}">Edit Note</button>
        </form>
    </h2>
</div>
{{/each}}